@model IEnumerable<OffreEmploi>

<h2>Mes Offres Postulées</h2>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Localisation</th>
            <th>Type de contrat</th>
            <th>Date de publication</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offre in Model)
        {
            <tr>
                <td>@offre.TitreOffre</td>
                <td>@offre.Description</td>
                <td>@offre.Localisation</td>
                <td>@offre.TypeContrat</td>
                <td>@offre.DatePublication.ToString("dd/MM/yyyy")</td>
                <td>
                    <a asp-controller="Offre" asp-action="Details" asp-route-id="@offre.Id" class="btn btn-info">Voir Détails</a>
                </td>
            </tr>
        }
    </tbody>
</table>
